<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secondhand_backend.mapper.ProductImageMapper">

    <resultMap id="BaseResultMap" type="com.example.secondhand_backend.model.entity.ProductImage">
            <id property="id" column="id" />
            <result property="productId" column="product_id" />
            <result property="imageUrl" column="image_url" />
            <result property="sort" column="sort" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,image_url,sort,create_time
    </sql>
</mapper>
